






























label[data-v-03e18044] {
    text-align: center;
    font-size: 25;
}

Button[data-v-03e18044] {
    background-color: #00caab;
}





























.large[data-v-7a792824] {
    font-size: 40;
}

