.list-page {
  background-image: url("res://bg_inner");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .list-page .action-bar-custom {
    color: white;
    margin-top: 20;
    padding-top: 12; }
    .list-page .action-bar-custom label {
      font-size: 21;
      font-weight: bold; }
    .list-page .action-bar-custom stack-layout {
      height: 40;
      padding-left: 15;
      padding-right: 15;
      vertical-align: center;
      horizontal-align: center; }
  .list-page .add-bar {
    background-color: #CB1D00;
    padding-left: 16;
    padding-right: 16;
    height: 50; }
    .list-page .add-bar text-field {
      height: 20; }
  .list-page .add-bar-image-container {
    height: 50;
    vertical-align: center;
    margin-left: -15;
    padding-left: 15;
    padding-right: 13; }
    .list-page .add-bar-image-container image {
      height: 20; }
  .list-page text-field {
    color: white;
    placeholder-color: white;
    background-color: transparent;
    font-size: 15;
    border-width: 0;
    padding: 0;
    margin-left: 1; }
  .list-page .add-bar-recent-label {
    vertical-align: center;
    color: #311217; }
  .list-page .add-bar-recent-container {
    height: 50;
    padding-left: 10;
    padding-right: 10;
    margin-right: -10;
    vertical-align: center; }
  .list-page .add-bar-recent-toggle {
    color: #311217; }
  .list-page activity-indicator {
    horizontal-align: center;
    vertical-align: center; }

list-view {
  background-color: transparent;
  opacity: 0; }
  list-view.visible {
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards; }

@keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.platform-android .item-container {
  margin-top: 1; }

.item-container {
  background-color: white; }
  .item-container .visible {
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards; }
  .item-container .tap-target {
    padding-top: 13;
    padding-bottom: 13;
    padding-left: 16; }
    .item-container .tap-target label {
      min-width: 200; }
  .item-container .check-box {
    margin-right: 10;
    height: 20; }
  .item-container .delete-container {
    padding: 10 15;
    vertical-align: middle; }
    .item-container .delete-container image {
      height: 20; }
    .item-container .delete-container stack-layout {
      padding: 5; }

@keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.login .background {
  background-image: url("res://bg_login");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.login .logo-container {
  horizontal-align: center;
  height: 80; }

.login .initial-container {
  margin-top: 250; }

.login .initial-label {
  color: white;
  horizontal-align: center;
  margin-bottom: 80;
  font-size: 36;
  letter-spacing: 0.2;
  font-size: 40;
  letter-spacing: 0.2; }

.login .initial-button {
  background-color: white;
  color: #CB1D00;
  height: 45;
  width: 275;
  vertical-align: center; }

.login .initial-button-label {
  horizontal-align: center;
  font-weight: bold; }

.login {
  /* Hide a bunch of things to setup the initial animations */ }
  .login .main-container {
    margin-left: 30;
    margin-right: 30;
    background-color: white;
    opacity: 0;
    height: 425;
    width: 300; }
  .login .main-label {
    horizontal-align: center;
    color: black;
    color: #311217;
    font-size: 32;
    margin-top: 45;
    margin-bottom: 52;
    letter-spacing: 0.2; }
  .login .form-controls,
  .login .sign-up-stack {
    opacity: 0; }
  .login image {
    margin-top: 5;
    margin-bottom: 20; }
  .login button,
  .login text-field {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10; }
  .login text-field {
    color: black;
    placeholder-color: #ACA6A7;
    border-width: 1;
    border-color: #6E595C;
    margin-bottom: 20; }
  .login text-field.light {
    color: #C4AFB4;
    placeholder-color: #C4AFB4;
    border-color: #C4AFB4; }
  .login .submit-button {
    background-color: #CB1D00;
    color: white;
    height: 40;
    margin-top: 15; }
  .login .forgot-password-label {
    font-size: 13;
    margin-left: 20;
    margin-bottom: 45;
    color: black; }
  .login .sign-up-stack {
    background-color: #311217; }
  .login .sign-up-stack Label {
    color: white;
    horizontal-align: center;
    font-size: 15;
    height: 48; }

page {
  font-size: 15; }

page.hidden-action-bar.platform-ios {
  margin-top: -20; }

.list-page {
  background-image: url("res://bg_inner");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

action-bar {
  background-color: black;
  color: white; }

text-field {
  padding: 10;
  font-size: 13; }

.line-through {
  text-decoration: line-through; }

text-field {
  border-width: 1;
  border-color: black; }
